<!-- prime-number-generator.component.html -->
<div class="container text-center mt-5 vh-100">
  <h3>This is our container application.</h3>
  <h4>We've created a web worker to efficiently generate prime numbers from 1 to 10 million. This task is
    computationally intensive, so leveraging a web worker helps to offload this heavy operation and maintain the
    responsiveness of the user interface.</h4>
  <button class="btn btn-primary mt-3" (click)="genearatePrimeNumber()">Generate Prime Numbers</button>
  <p class="mt-3">Click the button and wait for the prime numbers to be generated.</p>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-break">
          <h5 class="card-title">Prime Numbers</h5>
          <div class="d-flex flex-wrap">
            <div class="text-wrap">{{ result }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>